* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #474747;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.center-text {
  text-align: center;
}

.frame {
  border: 1px solid #333;
  padding: 25px;
  width: 1200px;
  margin: 20px auto;
  background-color: #fcfcfc;
}

.frame h2 {
  color: #333;
  text-align: center;
}

.frame p {
  color: #333;
  text-align: justify;
}

.frame img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #333;
}

a:focus, a:active {
  color: #333;
  text-decoration: none;
}

.text-with-padding {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a {
  text-decoration: underline;
}
